<html lang="<%= locale %>">
  <head>
    <title><%= translate ('title') %></title>
  </head>
  <body>
    <h1><%= translate('title') %></h1>
    <h3><%= translate('description') %></h3>
  </body>
</html>